.app-body {
    background: #cae9ff;
}

.about-divider {
    color: #1b4965;
}

.article-link {
    display: flex;
    justify-content: center;
    margin: 15px;
    text-decoration: underline;
}

.author-link {
    text-decoration: underline;
    
}