.article-link {
    display: flex;
    justify-content: center;
    margin: 15px;
    text-decoration: underline;
}

.author-link {
    text-decoration: underline;   
}

.tagName {
    color: white;
}